html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(28, 28, 33);
  margin: 0;
  color: rgb(191, 191, 191);
  font-family: sans-serif;
  line-height: 1.4em;

}

.cocosecc-logo {
  width: 1.775em;
  background-color: rgb(28, 28, 33);
  margin-top: 2px;
}

.list1{
  list-style-type: none;
  margin: 0.2% 0 0 0;
}

.topic-introduction {
  margin: 0.5% 30% 0 15%;
  background-color: #282A35;
  padding: 30px;
  min-width: 55%;
}

@media only screen and (max-width: 50em) {
  .topic-introduction {
    margin-left: 3%;
    margin-right: 3%;
  }

  img {
    width: 100%;
    height: 25%;
  }
}

.topic {
  background-color: #282A35;
  float: left;
  width: 100%;
}

.topbar{
  list-style-type: none;
  position: fixed;
  background-color: rgb(28, 28, 33);
  width: 100vw;
  height: 3.5em;

}

.intro {
  margin-top: 40px;
  line-height: 1em;
}


/* below is extra css for site (required) */


ol {
  padding: 0;
  margin: 3.5% 0 0 0;
}

img {
  text-align: center;
  height: 55%;
  width: 55%;
}

li {
  font-size: 20px;
  font-weight: bolder;
}

.pics {
  max-width: 400px;
  max-height: 400px;
  min-height: 150px;
  min-width: 300px;
}
